body {
  background-color: beige;
}
form {
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

input,
textarea,
select {
  width: 300px;
}
#checkbox {
  width: 20px;
}
#btn {
  background-color: rgb(187, 167, 167);
  width: 150px;
  margin: 0 0 0 25%;
}
